<% @user ||= current_user %>
<%= link_to(@user) do %>
  <%= gravatar_for @user, size: 52 %>
  <h1>
    <%= @user.name %>
  </h1>
  <span>view my profile</span>
  <span>
    <%= pluralize(@user.microposts.count, "micropost") %>
  </span>
<% end %>